footer{
    height: 50vh;
}

footer .direitos{
    margin-top: 8.2vw;
    text-align: center;
    font-size: 1.2vw;
}

footer .conteiner-section{
    justify-content: space-around;
    flex-direction: row;
    border-top: 1px solid rgba(255, 255, 255, 0.459);
    padding: 2.7vw 2.7vw;
    align-items: normal;
}

footer .conteiner-section h2{
    font-family: 'Avayx Regular';
    color: #d400ff;
    margin-bottom: 20px;
    font-size: 1.6vw;
}

.contato p, a{
    font-size: 1.2vw;
}

