footer{
    height: 50vh;
}

footer .direitos{
    text-align: center;
    font-size: 18px;
}

.contatos-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.459);
    padding-top: 50px;
}

.contatos-container h2{
    font-family: 'Avayx Regular';
    color: #d400ff;
    margin-bottom: 20px;
}

.contato{
    font-size: 20px;
}

.contato p:hover{
    font-size: 20px;
    text-shadow: none;
}

